html, body {
  margin: 0; /* Elimina el margen predeterminado */
  height: 100%; /* Asegura que el body ocupe todo el alto */
  overflow: hidden; /* Evita el desplazamiento en la ventana principal */
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f9f9f9;
  padding: 20px;
  height: 100vh;
  color: #31572c;
  overflow: auto;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.sidebar h2 {
  color: #31572c;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1rem 0;
  cursor: pointer;
  color: #31572c;
  transition: background-color 0.3s ease, padding 0.3s ease;
  display: flex;
  align-items: center;
}

.sidebar ul li svg {
  margin-right: 8px;
  font-size: 24px;
}

.sidebar ul li:hover {
  color: #31572c;
  background-color: #d6d6d6;
  padding: 10px;
  border-radius: 20px;
}

h1, h2 {
  color: #333;
}

p {
  color: #666;
}

.submenu-container {
  position: relative; /* Necesario para posicionar la línea */
  padding-left: 20px; /* Espacio para la línea vertical */
  margin-left: 2rem;
}

.submenu-container::before {
  content: ''; /* Necesario para mostrar el pseudo-elemento */
  position: absolute; /* Posiciona la línea en relación al contenedor */
  left: 0; /* Alinea la línea al lado izquierdo */
  top: 0; /* Comienza desde la parte superior del contenedor */
  bottom: 0; /* Extiende hasta la parte inferior del contenedor */
  width: 2px; /* Ancho de la línea */
  background-color: #31572c; /* Color de la línea */
}

.submenu {
  list-style: none;
  padding: 0; 
}
