.register-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.register-container h2 {
  text-align: center;
  color: #333;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.register-container button {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #31572c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-container button:hover {
  background-color: #132a13;
}

.register-container .back-button {
  margin-top: 10px;
  background-color: #31572c;
}

.register-container .back-button:hover {
  background-color: #132a13;
}
